.blog {
  text-align: center;
  color: #222;
  padding: 1rem;
  padding-bottom: 5rem;
}
.blog h2 {
  font-size: 4rem;
}

.btn {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  font-size: 1.1rem;
}

.btnInactive {
  opacity: 0.5;
  cursor: default;
}
