html,
body {
  background: #ddd;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: black;
  color: #eee;
  text-align: center;
  font-size: 1.25rem;
  padding: 0.8rem;
  height: 4em;
}
.footerspace {
  min-height: 8em;
}
.fourohfour {
  text-align: center;
}

.fourohfour h2 {
  font-size: 3.5rem;
}

.fourohfour a {
  font-weight: bold;
  text-decoration: underline;
}
