.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6em;
  background: black;
  color: white;
  padding: 0.4rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10;
}

.navbarSmall {
  width: 100vw;
  top: 0;
  z-index: 10;
  background: black;
  color: white;
  padding: 0.4rem;
  position: fixed;
  height: 6em;
  display: none;
  justify-content: center;
}

.hamburger {
  position: absolute;
  right: 0.5em;
  top: 0.8rem;
}

.hamburgerBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.drawer {
  background: black;
  color: white;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 2rem;
}
.drawer a,
.drawer .btn {
  margin: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.drawer a:hover,
.drawer .btn:hover {
  color: rgb(203, 88, 88);
}
.drawer .btn {
  text-align: left;
  font-size: 2rem;
}

.navSpace {
  height: 6em;
}

.logo {
  width: 200px;
  height: 100px;
  cursor: pointer;
}

.navbar a {
  cursor: pointer;
}

.navbar a:hover {
  color: rgb(203, 88, 88);
}

.btn {
  font-size: 1rem;
  background: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

.btn:hover {
  color: rgb(203, 88, 88);
}

@media screen and (max-width: 540px) {
  .navbar {
    display: none;
  }
  .navbarSmall {
    display: flex;
  }
  .drawer {
    display: flex;
  }
}
