.newPost {
  margin-top: 2em;
  background: rgb(16, 16, 16);
  color: white;
  text-align: center;
  width: 60%;
  min-width: 260px;
  margin-left: 50%;
  padding: 2.5rem 1.2rem;
  transform: translateX(-50%);
  border-radius: 4px;
  position: relative;
}

.newPost,
.newPost form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.newPost input,
.newPost textarea {
  width: 80%;
  font-size: 1.4rem;
  padding: 0.25rem;
  margin: 0.5rem;
}
.newPost textarea {
  min-height: 4em;
}

.newPost label {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

.newPost button[type='submit'] {
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem;
  background: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.25s ease;
}

.newPost button[type='submit']:hover {
  background: #ccc;
  color: #222;
}

.toggle {
  background: #eeeeee00;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle:hover {
  text-decoration: underline;
}
