.profile {
  text-align: center;
  color: #222;
  padding: 1rem;
  padding-bottom: 5rem;
}

.profilePic {
  width: 50%;
  border-radius: 100%;
  min-width: 50%;
  min-height: 50%;
}

.shade {
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  position: absolute;
}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  font-size: 1.4rem;
}

.links a:hover {
  color: rgb(203, 88, 88);
}

.followBtn {
  width: 250px;
  margin-left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: .2rem;
  font-size: 1rem;
}

.username{
  font-size: 3rem;
}